@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}



body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f0f0f0;
  color: #333;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1 {
  color: #007BFF;
}
p {
  line-height: 1.6;
  padding: 20px;
}

